<div id="<%= dom_id drink %>">
  <p>
    <strong>Name:</strong>
    <%= drink.name %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= drink.company %>
  </p>

  <p>
    <strong>Abv:</strong>
    <%= drink.abv %>
  </p>

  <p>
    <strong>Flavors:</strong>
    <%= drink.flavors %>
  </p>

</div>
