<div id="<%= dom_id tap %>">
  <p>
    <strong>Grouping:</strong>
    <%= tap.grouping %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= tap.floor %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= tap.location %>
  </p>

  <p>
    <strong>Drink:</strong>
    <%= tap.drink_id %>
  </p>

</div>
